// Body 

.align-right {
	text-align: right;

	table,
	tr,
	th {
		text-align: right;
	}
}



h1 {
  margin: 0;
}

.button {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.outline {
  background-color: white;
  border: solid 2px #0d2431;
}

.button.expanded {
  td:not(.expander) {
    width: 100%;
  }
}

.mobile-spacer {
  @media only screen and (max-width: 616px) {
    margin-bottom: 16px !important;
  }
}

// Pre-Header

.sub-head {
  text-transform: uppercase;
}


.pre-header {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;

  @media only screen and (max-width: 616px) {
    font-size: 18px !important;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.pre-header-img {
  width: 50px;
  height: 50px;
}

.pre-header-wrap {
  border: solid 2px #0d2431;
}

// Shirt Size Table 

.shirt-section {
  border: solid 2px #0d2431;
}

.shirt-section-header {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.shirt-table-text {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #0d2431;
  font-size: 20px;
  border-top: solid 4px white;
  border-bottom: solid 5px white;

  @media only screen and (max-width: 616px) {
    font-size: 16px !important;
  }
}

.shirt-wrap {
  border: solid 1px #0d2431;
}

.shirt-table-cell {
  border: solid 1px #0d2431;
}

.shirt-title {
  background: #0d2431;
}

.shirt-title-text {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 8px solid #0d2431;
  
  @media only screen and (max-width: 616px) {
    font-size: 18px !important;
  }  
}

// Clearance Shirt Table

.clearance-shirt-section {
  border: solid 2px #8d0e0e;
}

.clearance-shirt-section-header {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #8d0e0e;
}

.clearance-shirt-table-text {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #8d0e0e;
  font-size: 20px;
  border-top: solid 4px white;
  border-bottom: solid 5px white;

  @media only screen and (max-width: 616px) {
    font-size: 16px !important;
  }
}

.clearance-shirt-wrap {
  border: solid 1px #8d0e0e;
}

.clearance-shirt-table-cell {
  border: solid 1px #8d0e0e;
}

.clearance-shirt-title {
  background: #8d0e0e;
}

.clearance-shirt-title-text {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 8px solid #8d0e0e;
  
  @media only screen and (max-width: 616px) {
    font-size: 18px !important;
  }  
}


// Footer 

// Commitments 

.commitments-wrapper {
  background-color: #9b8c64;
}

.commitments-title-text {
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.commit-imgs {
  display: inline;
}

// Buttons

.alert {
  color: #0d2431;
}

// Info

.info-text {
  color: #a2a1a1;
  line-height: 2;
  text-align: center;
  font-size: 12px;
}

// Footer Buttons 

.footer-button-header {
  background-color: #0d2431;
}

.footer-button-title-text {
  color: white;
  font-weight: bold;
  margin-top: 14px;
  text-align: center;
}

.footer-button-text {
  color: #0d2431;
}


// Col IMGs 

@media only screen and (max-width: 616px) {
  .small-80column {
    width: 80% !important;
    max-width: 80% !important;
  }
}